<html>
<head>
<title>Fixed Deposit list</title>
<style type="text/css">
.border {
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}

.td,.th {
	border: 1px solid;
	font-family: 'arial';
	font-size: 12px;
}

.a {
	font-family: 'arial';
	font-size: 12px;
}
</style>
</head>
<body>
	<form name="fixedDepositList" method="POST"
		action="create">
		<table align="left" style="padding-left: 300px;">
			<tr>
				<td
					style="font-family: 'arial'; font-size: 16px; font-weight: bold;">Fixed
					deposit list</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
					<table class="border" cellpadding="10">
						<tr bgcolor="#99CCFF">
						        <th class="th">ID</th>
							<th class="th">Account ID</th>
							<th class="th">Creation date</th>
							<th class="th">Amount</th>
							<th class="th">Tenure</th>
							<th class="th">Active</th>
							<th class="th">Actions</th>
						</tr>
                                                        {% for tt in bb %}
						 	 <tr>
                                                           {% for kk in tt %}
							    <td class="td">{{ kk }}</td>
                                                           {% endfor %}
                                                           <td class="td"><a
                                                                        href="pipi"
                                                                        style="color: green">Close</a> <a
                                                                        href="pipu"
                                                                        style="color: green">Edit</a></td>

							  </tr>
                                                        {% endfor %}
					</table>
				</td>
			</tr>
			<tr align="center">
				<td><input type="submit" value="Create new Fixed Deposit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
